<div class="container">
    <div class="row justify-content-center align-items-center" style="background-color:#D8D8D8">
        <div class="col-2">
            <img width="100" height="100" class="img-fluid" src="../../../../assets/img/logoprincipal.png" alt="" srcset="">
        </div>
        <div class="col-6 text-center">
            <h1 class=" mx-auto">DEVELOPERS & GEEKS</h1>
        </div>
        <div class="col-4 text-end">
            <img id="img2" width="200" class="img-fluid" src="../../../../assets/img/dg.jpg" alt="" srcset="">
        </div>
    </div>
    <br>
    <div style="background-color: white;">
    <br>
    <div>
        <p>INSTRUCTORES</p>
    </div>
    <br>
    <div class="row">
                <div class="col-md-4  col-sm-6" *ngFor="let aprendiz of aprendices">
                    <div class="card">
                        <div class="head">
                             <div class="circle">
                                 <div class="img">
                                     <img src="{{aprendiz.img}}" alt="" srcset="">
                                 </div>
                             </div>
                             <br>
                             <div class="card-body">
                                 <h5>{{aprendiz.nombre}}</h5>
                                 <!--<p class="texto">{{aprendiz.nombre}}</p>-->
                                 <p class="texto">{{aprendiz.correo}}</p>
                                 <label class="input-group-text" id="color"><strong>{{aprendiz.equipo}}</strong></label>
                             </div>
                        </div>
                    </div>
        </div>
    </div>
    <br>
    </div>
    <br>
    </div>
    <br>
