.container{
    width: 100%;
    background-color: #D8D8D8;
}
.container-principal{
    /* background-color: #1396ED; */
    border:2px;
    width:70%;
}

.card{
position: relative;
width: 300px;
height: 350px;
border-radius: 5px;
overflow: hidden;
background: seashell;
display: inline-block;
margin-left: 180px;
}

@media screen and (max-width: 500px) {
  
   .card {
        width: 90%;
        margin: 10px;
    }
}

p{
    position: relative;
    text-align: center;
    

}
h5{
    position: relative;
    text-align: center;
    padding-top: 150px;
    text-decoration: 1px #FA4E0D ;  
}
 label{
        width: 100px; 
    }
#color{
        background-color: #FA4E0D;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 1vh;
        display:block;
        margin:auto; 
        width:190px;  
} 
.card .head{
    height: 100px;
    width: 90%;
    position: relative;
}
.card .head .circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #FA4E0D;
    bottom: 0;
}
.card .head .img{
    width: 120px;
    height: 120px;;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}
@supports(object-fit: cover){
    .card .head  img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.card .head .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    
}