.container{
    border: 3px solid #FA4E0D;
    background-color: #D8D8D8; 
}
#mision{
    background-color: white;
    border:  3px solid #FA4E0D;
    height: 100%; 
    border-radius: 129px 16px 16px 16px;
}
#img2{
    width: 300px; 
    height: 200px;
    border-radius: 80px;
}
button{
    background-color: white;
    border: 3px solid #FA4E0D;
    font-size: 16px; 
    cursor: pointer;
}
button:hover{
    background-color: #FA4E0D;
}
