<header class="header row shadow" id="header">
  <div class="col-md-2 text-start py-1">
    <h3 class="text-white" (click)="showHideSideBar('header-toggle','nav-bar','body-pd','header','footer','version')">
      <i class="bi fas fa-bars" id="header-toggle" style="cursor:pointer"></i>
    </h3>
  </div>
  <div class="col-md-10 py-2 text-end" *ngIf="isAdminisRoute()">
    <app-administradorn-links></app-administradorn-links>
  </div>
    <div class="col-md-10" *ngIf="isAprendisRoute()">
      <app-aprendizn-links></app-aprendizn-links>
    </div>
</header>
