<a  class=" nav__link mb-0 mt-0 rounded-pill" id="inicio" routerLink="aprendiz/inicio" data-bs-toggle="collapse" style="cursor:pointer">
    <i class="fas fa-home nav__icon"></i>
    <h6 class="nav__name">Inicio</h6>
</a>
<a id="seguridad" class="rounded-pill nav__link mb-0 mt-0" href="#AinventarioLinks" data-bs-toggle="collapse" style="cursor:pointer">
    <i class="fas fa-inventory nav__icon"></i>
        <h6 class="nav__name ">Inventario</h6>
</a>
<ul class="pt-0 mt-0 collapse" id="AinventarioLinks">
    <li style="list-style: none"><a class="as-link nav-link text-dark ps-5 py-0" routerLink="aprendiz/inventario/inventario" routerLinkActive="fw-bold">Inventario</a></li>
    <li style="list-style: none"><a class="as-link nav-link text-dark ps-5 py-1" routerLink="aprendiz/inventario/historial" routerLinkActive="fw-bold" >Historial</a></li>
</ul>