<div class="mg">
    <div class="row  m-0 p-0 d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <div class="w-auto container" id="class">
                <div class="bg-ligh rounded shadow-lg borde">
                    <div class="mx-auto general" style="background-color:#D8D8D8">
                        <div class="row titulo">

                            <h2 class=" text-center">Crear o Modificar Inventario</h2>
                        </div>
                        <div class="row mt-9">
                            <div class="col-12 mx-auto px-9 margen">
                                <div class="row">
                                    <div class="col-12">
                                        <form class="datos">
                                            <div class="row ">
                                                <div class="col-10">
                                                    <div class="i-group">
                                                        <input type="text" required id="sede-usuario">
                                                        <label class="input-label" for="se-usuario">
                                                            Fecha
                                                        </label>
                                                    </div>
                                                    <p>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="boton2"><button class="btn btn-outline-black"
                                                                onclick="modificar();" routerLink="/administrador/inventarioa/inventarios">Modificar</button>
                                                        </div>
                                                        <div class="boton1">
                                                            <button class="btn btn-outline-black" onclick="guardar();" routerLink="/administrador/inventarioa/inventarios">
                                                                Guardar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
