<div class="mt-5">
    <div class="row m-0 p-0 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <div class="w-auto container">
                <div class="bg-ligh rounded shadow-lg">
                    <div class="mx-auto"  style="background-color:#D8D8D8;" >
                        <div class="row">
                            <i   class="fa fa-Twitter fa-4x text-center" ><span class="fas fa-users"></span></i> 
                            <h2 class="text-center">REGISTRARSE</h2>
                            
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 mx-auto px-4 " >
                                <div class="row">
                                    <div class="col-12">
                                        <form >
                                            <div class="row " >
                                                <div class="col-6" >
                                                    <div class="i-group">
                                                        <input type="text" required  id="nombre-usuario" >
                                                        <label class="input-label" for="nombre-usuario">
                                                            <span class="text-label">Nombre</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="i-group">
                                                        <input type="text" required id="apellido-usuario">
                                                        <label class="input-label" for="apellido-usuario">
                                                            <span class="text-label"> Apellido</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                   <div class="i-group">
                                                       <input type="text" required id="documento-usuario" >
                                                       <label class="input-label" for="documento-usuario">
                                                           <span class="text-label">Tipo de Documento</span>
                                                       </label>
                                                   </div>
                                                </div>
                                                <div class="col-6">
                                                   <div class="i-group">
                                                       <input type="text" required  id="ndocumento-usuario" >
                                                       <label class="input-label" for="ndocumento-usuario">
                                                           <span class="text-label">N° Documento</span>
                                                       </label>
                                                   </div>
                                                </div>
                                                <div class="col-6">
                                                   <div class="i-group">
                                                       <input type="text" required  id="cel-usuario" >
                                                       <label class="input-label" for="cel-usuario">
                                                           <span class="text-label">Telefono</span>
                                                       </label>
                                                   </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="i-group">
                                                        <input type="text"  id="direccion-usuario" >
                                                        <label class="input-label" for="direccion-usuario">
                                                            <span class="text-label">Dirección</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="i-group">
                                                        <input type="text" required  id="gmail-usuario" >
                                                        <label class="input-label" for="gmail-usuario">
                                                            <span class="text-label">E-mail</span>
                                        
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                   <div class="i-group">
                                                       <input type="password" required  id="password-usuario" >
                                                       <label class="input-label" for="password-usuario">
                                                           <span class="text-label">Password</span>
                                                       </label>
                                                   </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <button class="btn btn-warning px-2 mb-3  " id="boton">Crear Cuenta</button><br>
                                <a routerLink="/formulario/inicio-sesion" class="link">¿Ya tienes cuenta?</a><br>
                            </div>
                           
                           
                        </div>
                  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="../../../assets/img/logoprincipal.png" width="500px;" height="500px;">
        </div>
    </div>
</div>
