<div class="mg">
    <div class="row m-120 p-120 d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <div class="w-auto container">
                <div class="bg-ligh rounded shadow-lg borde">
                    <div class="mx-auto general" style="background-color:#D8D8D8">
                        <div class="row titulo">

                            <h4 class=" text-center">Crear o Modificar Elemento</h4>

                        </div>
                        <div class="row mt-9">
                            <div class="col-12 mx-auto px-9 margen">
                                <div class="row">
                                    <div class="col-12">
                                        <form class="datos">
                                            <div class="row ">
                                                <div class="col-6">
                                                    <div class="i-group">
                                                        <input type="text" required id="nombre-elemento">
                                                        <label class="input-label" for="nombre-elemento">
                                                            Nombre:
                                                        </label>
                                                    </div>
                                                    <p>
                                                </div>
                                                <div class="col-6">
                                                    <div class="i-group">
                                                        <input type="text" required id="marca-elemento">
                                                        <label class="input-label" for="marca-elemento">
                                                            Marca:
                                                        </label>
                                                    </div>
                                                    <p>
                                                </div>
                                                <div class="col-6">
                                                    <div class="i-group">
                                                        <input type="text" required id="tipoElem-elemento">
                                                        <label class="input-label" for="tipoElem-elemento">
                                                            Tipo_Elem:
                                                        </label>
                                                    </div>
                                                    <p>
                                                </div>
                                                <div class="col-6">
                                                    <div class="i-group">
                                                        <input type="email" required id="serial-elemento">
                                                        <label class="input-label" for="serial-elemento">
                                                            Serial:
                                                        </label>
                                                    </div>
                                                    <p>
                                                </div>
                                                <div class="col-10">
                                                    <div class="i-group">
                                                        <input type="text" required id="imagen-elemento">
                                                        <label class="input-label" for="imagen-elemento">
                                                            Imagen
                                                        </label>
                                                    </div>
                                                    <p>
                                                </div>
                                                <div class="col-10">
                                                    <div class="i-group">
                                                        <label class="label" for="telefono-usuario">
                                                            Activo:
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Radio1" value="option1">
                                                        <label class="form-check-label" for="Radio1">Sí</label>
                                                      </div>
                                                      <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Radio2" value="option2">
                                                        <label class="form-check-label" for="Radio2">No</label>
                                                      </div>
                                                    <p>
                                                </div>
                                                <div class="col-12">
                                                    <div class="boton1">
                                                        <button class="btn btn-outline-black"
                                                        onclick="guardar();" routerLink="/administrador/inventarioa/elemento"> Guardar</button>
                                                            
                                                    </div>
                                                    <div class="boton2"><button class="btn btn-outline-black"
                                                        onclick="modificar();">Modificar</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

