<div class="text-end">
    <span class="py-1 text-white me-5 fw-bold">
        <a routerLink="/about" class="text-white text-decoration-none" routerLink="/administrador/perfil">
            <span>Perfil</span>
        </a>
    </span>
    <span class="py-1 text-white me-5 fw-bold">
        <a routerLink="/about" class="text-white text-decoration-none" routerLink="/administrador/about">
            <span>About</span>
        </a>
    </span>
    <span class="py-2 text-white me-5 fw-bold">
        <a routerLink="/about" class="text-white text-decoration-none" routerLink="">
            <i class="fas fa-sign-out-alt"></i>
            <span>Salir</span>
        </a>
    </span>
    </div>