<h5 >Historial</h5>

        <div class="buscar">
           
                <input type="text" class="" placeholder="Buscar" id="buscar">
                <button class="btn"><span class="fas fa-search"></span></button>
     
        </div>
     
       
    <div id="main-container">
            <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Ambiente</th>
            <th scope="col">Bloque</th>
            <th scope="col">Zonas</th>
            <th scope="col">Fecha</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-outline-black" onclick="visualizar()" routerLink="/aprendiz/inventario/inventario">Visualizar</button>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
